*.obj
*.dll
*.exe
*.exp
*.lib
*.pdb
*.bak
*.BAK
*~
*.swp
*.orig
*.rej
*.map
*.RES
*.res
*.tclock
*.aps

out/
out64/
work/
work64/

/pkg/

tags

/source_all/*
!/source_all/Makefile
!/source_all/config.h
/source_custom/*
!/source_custom/Makefile
!/source_custom/config.h
