#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
//
// $Id$
//



ABOUTBOX DIALOG DISCARDABLE  0, 0, 232, 124
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 9, "MS Sans Serif"
BEGIN

	ICON	"MYICON",-1,11,10, 20, 20
	LTEXT	"TTClock (C) 1997-2003 Kazuto Sato", -1,42, 10, 200, 10
	LTEXT	"(last modification) Light- 080409 slic", -1,42, 20, 200, 10
	LTEXT	"This program is free software; you can redistribute it and/or modify it under the terms of the GNU GPL.",-1,10, 46, 200, 40
	LTEXT	"E-mail",-1,10, 75, 30, 10
	LTEXT	"kazuto.sato@nifty.com",100, 55, 75, 80, 10,SS_NOTIFY
	LTEXT	"WWW",-1,55, 85, 133, 10
	LTEXT	"http://homepage1.nifty.com/kazubon/",101,55, 85, 133, 10,SS_NOTIFY
	DEFPUSHBUTTON   "OK", IDOK, 100, 100, 32, 14, WS_GROUP

END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,1
 PRODUCTVERSION 0,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "TCLOCK\0"
            VALUE "CompanyName", "Kazubon\0"
            VALUE "FileDescription", "TClock Light\0"
            VALUE "FileVersion", "0, 0, 0, 1\0"
            VALUE "InternalName", "TCLOCK\0"
            VALUE "LegalCopyright", "(C) Kazuto Sato\0"
            VALUE "OriginalFilename", "tclock.exe\0"
            VALUE "ProductName", "TClock Light\0"
            VALUE "ProductVersion", "0, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

MYICON               ICON    DISCARDABLE     "tclock.ico"


